$accent: #191B20;
$background : linear-gradient(93.25deg, #EA422A 0%, #F69020 48.58%, #FFC619 101.38%);
$backlight:  0 0 12px #F69020;

%name-item {
    font-family: 'Poppins-Black', sans-serif;
    font-weight: 900;
    font-size: 34px;
    line-height: 48px;
    color: #fff;
    text-transform: uppercase;
}



